<!--* section1 Partners  -->
<div class="background-container">
  <img src="Untitled design.png" alt="Background Image" class="background-image">
  <h1 class="title">شركائنا في النجاح</h1>
  <div class="partners-container">
      <div class="partner">
          <img src="photo6041690629853007055.jpg" alt="Ministry of Health" class="partner-img1">
          <div class="logo1">
            <img src="images-removebg-preview.png" alt="Ministry Logo" class="logoLeft">
          </div>
      </div>
      <div class="partner">
          <img src="photo6041690629853007056 (1).jpg" alt="Banque Misr" class="partner-img">
          <div class="logo">
            <img src="بنك_مصر-removebg-preview.png" alt="Banque Misr Logo" class="logoRight">
          </div>
      </div>
  </div>
  <button class="more-btn">للمزيد من الأخبار والفعاليات</button>
</div>
 
<!--^ section2  -->
<div class="container-fluid">
  <div class="container-fluid cont">
    <div class="row" >
      <div class="col-md-7">
        <form dir="rtl">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="name">الاسم<span class="required">*</span></label>
              <div class="input-icon">
                <i class="bx bx-user"></i> 
                <input type="text" id="name" formControlName="name" class="form-control" />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label for="phone">رقم التليفون<span class="required">*</span></label>
              <div class="input-icon">
                <i class="bx bx-phone"></i> 
                <input type="text" id="phone" formControlName="phone" class="form-control"/>
              </div>
          </div>
        </div>
          <div class="row" >
            <div class="col-md-6 form-group">
              <label for="email">البريد الإلكتروني<span class="required">*</span></label>
              <div class="input-icon">
                <i class="bx bx-envelope"></i>
                <input type="email" id="email" formControlName="email" class="form-control" required />
              </div>
              <span class="activation-note">يجب أن يكون مفعل</span>
            </div>
            <div class="col-md-6 form-group">
              <label for="address">العنوان</label>
              <input type="text" id="address" formControlName="address" class="form-control" />
            </div>        
          </div>
        
          <div class="row">
            <div class="col-md-11 form-group">
              <label for="message">الرسالة<span class="required">*</span></label>
              <textarea id="message" formControlName="message" class="form-control" rows="3" placeholder="نص تجريبي"></textarea>
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary">إرسال</button>
            </div>
          </div>
        </form>
        
      </div>
  
      <div class="col-md-5" dir="rtl">
        <div class="contact-info">
          <h1>تواصل معنا</h1>
          <div>
            <p>
              <i class="bx bx-map"></i>
              العنوان
            </p>
            <div class="subtitle">
              6 أكتوبر - طريق الواحات بجوار الإدارة العامة للمرور
            </div>
          </div>
          <div>
            <p>
              <i class="bx bx-globe"></i>
              البريد الإلكتروني 
            </p>
            <span class="email">technical.office&#64;eao.gov.eg</span>
          </div>
          <div>
            <p>
              <i class="fas fa-fax"></i>
              رقم الفاكس
            </p>
            <div class="subtitle">

              0237477457
            </div>

          </div>
          
      <div class="imp">
        123 
          <img src="phone-call (1).png">
      </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--& section3  -->
<div class="container-fluid sec3">
    <div class="container sec3">
      <div class="row">
        <div class="col-md-7">

          <div class="accordion accordion-flush">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button  class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                 كيف يمكنني الحصول علي الدعم الفني لاسم المنتج؟
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus
                  laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  ما هي الإسعافات الأولية؟
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                  interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                  Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  من هو المسعف الأولي؟
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci.
                  Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                  pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu
                  facilisis sed odio morbi quis</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseTwo">
                 كيف يمكنني الإتصال بالإسعاف في حالة الحالات الطارئة؟
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id
                  interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium.
                  Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
                  هل خدمة الإسعافات الأولية لها رسوم؟
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim
                  suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit
                  adipiscing bibendum est. Purus gravida quis blandit turpis cursus in</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed mb-5" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseTwo">
                  هل يوجد خدمة مطابقة فنية لترخيص سيارات الإسعاف؟
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies
                  leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor
                  sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas
                  egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <img src="output-onlinetools-removebg-preview.jpg" alt="Description of image" class="img-fluid">
        </div>
    </div>
  </div>
</div>

<!--~ section 4  -->
<div class="container-fluid" style="background-color: #141231;">
  <div class="container sec4 " style="background-color: #141231;">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
          <img src="هيئة_الإسعاف_المصرية.png" class="footer-img mb-3 img-fluid" alt="Egyptian Ambulance Organization Logo">
          <h5 class="org-name-ar">هيئة الإسعاف المصرية</h5>
          <h6 class="org-name-en">Egyptian Ambulance Organization</h6>
          <p class="org-description">
              هيئة الإسعاف المصرية هي هيئة مستقلة أنشأت بالقرار الجمهوري رقم 139 لسنة 2009 وهي تقدم الخدمات الطبية العاجلة ولها أهمية كبيرة لأنها تتعلق بإنقاذ حياة المواطنين والأجانب في مصر. أولت الهيئة اهتماماً كبيراً بتطوير الخدمات الطبية العاجلة للوصول إلى تقديم الخدمات الإسعافية طبقاً للمقاييس العالمية.
          </p>
          <p class="rights-reserved">
              جميع الحقوق محفوظة لهيئة الإسعاف المصرية 2024&#169;
          </p>
      </div>

      <div class="col-md-4 mb-4" dir="rtl">
        <h3 class="mailing-list-title">القائمة البريدية</h3>
        <p class="mailing-list-text">اشترك في القائمة البريدية ليصلك كل التحديثات الخاصة بتطورات هيئة الإسعاف المصرية.</p>
        <div class="input-group mb-3">
          <div class="input-group mb-3">
            <input type="email" class="box" placeholder="قم بكتابة بريدك الالكتروني هنا" aria-label="Email">
            <div class="input-group-append">
                <button class="btn btn-primary subscribe-btn" type="button">إشترك</button>
            </div>
        </div>
        
        </div>
        <h4 class="social-title mt-5 mb-3" dir="rtl">انضم إلينا وتابع أحدث الأخبار</h4>
        <div class="d-flex justify-content-center">
            <a href="#" class="me-3">
                <i class="bx bxl-facebook social-icon"></i>
            </a>
            <a href="#">
                <i class="bx bxl-youtube social-icon"></i>
            </a>
        </div>

    </div>

    <div class="col-md-4 mb-4" dir="rtl">
      <div class="d-flex align-items-center">
        <h4 class="support">التواصل والدعم</h4>
        <div class="phone"><i class="bx bx-phone"></i> 123</div>
    </div>
  
      <ul class="list-unstyled">
          <li class="mb-2">
              <a href="#" >الصفحة الرئيسية</a>
          </li>
          <li class="mb-2">
              <a href="#" >عن هيئة الإسعاف المصرية</a>
          </li>
          <li class="mb-2">
              <a href="#" >الخدمات</a>
          </li>
          <li class="mb-2">
              <a href="#" >التوعية العامة</a>
          </li>
          <li class="mb-2">
              <a href="#" >التبرعات</a>
          </li>
      </ul>
  </div>
    </div>
  </div>
</div>


