<!--* section1  -->
<div class="title-section">
        <div class="content">
            <div class="icon-section">
                <img src="medical-calendar.jpg" alt="Calendar Icon" class="icon" />
              </div>
          <div class="title-sec">
            <h1 class="title">طلب تأمين الفعاليات</h1>
            <p class="description">
              يمكنك طلب إسعاف للحالات الطارئة والحالات الغير طارئة يمكنك أيضا الدفع من خلال
              بوابتنا الإلكترونية لطلب سيارة إسعاف فقط قم بملء النموذج ثم تأكيد إختيارك.
            </p>
          </div>
       
        </div>
      </div>
      
<!--^ section2  -->
<div class="container-fluid">
    <div class="container">
        <div class="form-container">
            <form dir="rtl">
              <div class="flex-row">
               
                <div class="flex-col">
                  <label for="event-type"> نوع الحدث<span class="required">*</span></label>
                  <div class="input-icon">
                    <i class="bx bx-buildings"></i> 
                    <select id="event-type" class="form-control">
                      </select>
                  </div>
                </div>
                <div class="flex-col">
                  <label for="name">إسم المؤسسة<span class="required">*</span></label>
                  <div class="input-icon">
                    <i class="bx bx-user"></i> 
                    <input type="text" id="name" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="flex-row">
                <div class="flex-col">
                  <label for="responsible"> اسم مسئول الجهة<span class="required">*</span></label>
                  <div class="input-icon">
                    <i class="bx bx-envelope"></i>
                    <input type="text" id="responsible" class="form-control"  />
                  </div>
                </div>
                <div class="flex-col">
                  <label for="phone">رقم الموبايل للتواصل<span class="required">*</span></label>
                  <div class="input-icon">
                      <i class="bx bx-phone"></i>
                      <input type="text" id="phone" class="form-control"  />
                    </div>
                </div>
              </div>
        <div class="flex-row">
          <div class="flex-col">
              <label for="event-date">تاريخ الحدث<span class="required">*</span></label>
              <div class="input-icon">
                <i class="bx bx-calender"></i>
                <input type="date" id="event-date" class="form-control no-icon"  />
              </div>
            </div>
      <div class="flex-col">
          <label for="address">عنوان الحدث<span class="required">*</span></label>
          <div class="input-icon">
            <i class="bx bx-map"></i>
            <input type="text" id="address" class="form-control"  />
          </div>
      </div>
      <div class="flex-col">
          <button class="form-control btn-map" > <i class="bx bx-map-alt"></i> تحديد الموقع علي الخريطة</button>
      </div>
      </div>
      <div class="flex-row">
      <div class="flex-col">
          <label for="attendees"> عدد الحاضرين<span class="required">*</span></label>
          <div class="input-icon">
            <i class="bx bx-user"></i>
            <input type="number" id="attendees" class="form-control"  />
          </div>
      </div>
      <div class="flex-col">
          <label for="cars"> عدد السيارات المطلوبة<span class="required">*</span></label>
          <div class="input-icon">
            <i class="bx bx-car"></i>
            <input type="number" id="cars" class="form-control"  />
          </div>
      </div>
      </div>
      <div class="flex-row align-center">
        <div class="flex-col">
            <div class="switch-container">
              <label for="toggle-switch1"> طبيب</label>
              <label class="switch">
                <input type="checkbox" id="toggle-switch1">
                <span class="slider"></span>
              </label>
            </div> 
          </div>
          <div class="flex-col">
            <div class="switch-container">
              <label for="toggle-switch2"> احتياج لانش اسعافي</label>
              <label class="switch">
                <input type="checkbox" id="toggle-switch2">
                <span class="slider"></span>
              </label>
            </div> 
          </div>
          <div class="flex-col">
            <div class="switch-container">
              <label for="toggle-switch3"> احتياج لانش اسعافي</label>
              <label class="switch">
                <input type="checkbox" id="toggle-switch3">
                <span class="slider"></span>
              </label>
            </div> 
          </div>
          
      </div>
      <div class="flex-row">
        <div class="flex-col-full">
            <h5> إستماره من الجهة المقدمة لطلب التأمين بالبيانات المطلوبة مختومة - إرفاق صورة السجل التجاري والبطاقة الضريبية للشركه أو الجهة </h5>
            </div>
            </div>

            <div class="flex-row">
                <div class="flex-col">
                    <label for="address"> صورة السجل التجاري<span class="required">*</span></label>
                    <div class="input-icon">
                      <i class="bx bx-file"></i>
                      <input type="text" id="address" class="form-control"  />
                    </div>
                </div>
                <div class="flex-col">
                    <button class="form-control btn-upload"> <i class="bx bx-upload"></i> تحميل الملف </button>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-col">
                    <label for="address"> البطاقة الضريبية للشركة / الجهة<span class="required">*</span></label>
                    <div class="input-icon">
                      <i class="bx bx-file"></i>
                      <input type="text" id="address" class="form-control"  />
                    </div>
                </div>
                <div class="flex-col">
                    <button class="form-control btn-upload"> <i class="bx bx-upload"></i> تحميل الملف </button>
                </div>
            </div>
              <div class="flex-row">
                <div class="flex-col-full">
                  <label for="message">ملاحظات<span class="required">*</span></label>
                  <textarea id="message" class="form-control" rows="3" placeholder="نص تجريبي"></textarea>
                </div>
              </div>
        
              <div class="flex-row">
                <div class="flex-col">
                  <button type="submit" class="btn btn-send"> <i class="bx bx-send"></i>  إرسال</button>
                </div>
                <div class="flex-col">
                    <button type="submit" class="btn btn-cls"> <i class="bx bx-x close-icon "></i> إلغاء</button>
                  </div>
              </div>
            </form>
          </div>
    </div>
   
  </div>
  
